body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  .canvas {
    background: rgb(34, 31, 31);
  }
  
  .bubble {
    color: white;
    border: 0px;
    font-size: 20px;
    padding: 0px;
    margin: 3px;
    outline: none;
    isolation: isolate;
    position: inherit;
  }

  .subject {
    background: green;
    border-radius: 50%;
  }
  
  .condition {
    background: blue;
    border-radius: 5px;
    transform: skew(-20deg);
  }


